*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.s text eol=lf
*.inc text eol=lf
*.sh text eol=lf
*.py text eol=lf
*.sha1 text eol=lf
*.json text eol=lf
*.gmm text eol=lf
*.wrap text eol=lf
meson.build text eol=lf

.gitattributes text eol=lf
.gitignore text eol=lf

*.md text eol=lf
*.lsf text eol=lf
*.yml text eol=lf
*.ini text eol=lf
*.csv text eol=lf
*.txt text eol=lf

lib/msl/include/MSL_C/* text eol=lf

*.bin binary

*.h linguist-language=C
*.inc linguist-language=Assembly
*.py linguist-language=Python
